@use "../../theme.scss" as *;

.Create-Page-Header {
    width: 100%;
    height: $tab-height;

    text-align: center;

    color: $line-color;

    padding-left: calc(($tab-height - 1em) / 2);

    position: relative;

    font-size: calc($font-scale * 3);
    display: flex;
    align-items: center;

    border-bottom: $small-border;
}