@use "../../scss/theme.scss" as *;

.SettingsPage {
    color: white;

    display: flex;
    align-items: center;

    flex-direction: column;
}

.SettingsPage-Section {
    margin-top: 5vh;

    background-color: lighten($background-color, 5%);
    font-size: calc($font-scale * 1.5);

    border-radius: 1.2em;
    width: 70%;

    min-height: 20vh;

    padding: 1em;
}

.SettingsPage-Header {
    font-size: calc($font-scale * 2);
    text-align:  center;
}

.SettingsPage-Line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 1.5vh;
} 

.SettingsPage-Button-1 {

    font-size: calc($font-scale * 1.5);
    padding: 1em;
    border-radius: 1em;

    background-color: $pop-background-2;

    margin-top: 1vh;
}