@use "../../scss/theme.scss" as *;

$frame-edge-spacing: .7em;

.TripleDot {
    background-color: $pop-background-2;

    position: absolute;

    &.tr { 
        top: $frame-edge-spacing;
        right: $frame-edge-spacing;
    }

    &.cr {
        right: $frame-edge-spacing;
    }

    width: 1.7em;
    height: 1.7em;
    border-radius: 5em;

    display: flex;

    align-items: center;
    justify-content: center;

    & .dot {
        width: 1vw;
        height: 1vw;
        background-color: white;
        border-radius: 100%;

        margin-right: 15%;

        &:last-child {
            margin-right: 0%;
        }
    }
}