@use "../../scss/theme.scss" as *;

$closed-height: -125vh;
$opened-height: 0%;

@keyframes slide-open {
    from {
        height: $closed-height;
    }

    to {
        height: $opened-height;
    }
}

@keyframes slide-closed {
    from {
        height: $closed-height;
    }

    to {
        height: $opened-height;
    }
}


.PopupMenu {
    $width: 100vw;
    $height: 85vh;


    width: $width;
    height: $height;

    left: calc((100vw - $width) / 2);

    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    // border-top: $small-border;

    // border

    background-color: lighten($background-color, 2%);

    position: absolute;

    transition: all .25s;

    display: flex;
    align-items: center;
    flex-direction: column;

    // &::before {
    //     &.open {
    //         bottom: -125vh;
    //     }
    // }

    // &::after {
    //     &.open {
    //         bottom: 0%;
    //     }
        
    // }

    &.open {
        // animation: slide-open .25s;
        margin-top: 15vh;
    }

    &.closed {
        margin-top: 100vh;
    }
}

.PopupMenu-Filter {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0%;
    left: 0%;

    background-color: rgba(0, 0, 0, 0.699);

    transition: all .5s;

    

    &.open {
        // pointer-events: none;
    }

    &.closed {
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0);
    }
}

.Popup-Close {
    position: absolute;
    left: 2vh;
    top: 2vh;
}

.PopupMenu-Title {
    color: white;
    font-size: $sub-header-size;

    text-align: center;

    margin-top: 2vh;
    margin-bottom: 2vh;
}