@use "../../scss/theme.scss" as *;

.List-Edit-Header {
    width: 100%;
    height: $tab-height;

    text-align: right;

    color: $line-color;

    padding-left: calc(($tab-height - 1em) / 2);

    position: relative;

    font-size: calc($font-scale * 3);
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: $small-border;
}

.List-Edit-Title-Label {
    text-align: center;
    font-size: calc($font-scale * 2.5);
    color: $line-color;
    margin-top: .5em;
}

.List-Edit-Title {
    text-align: center;
    font-size: calc($font-scale * 2.5);
    color: white;
}

.List-Edit-Title-Container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.List-Edit-Title-Input {
    font-size: calc($font-scale * 2.5);
    width: 60%
}

.List-Edit-Back {
    background-image: url("../../imgs/back-arrow.png");

    filter: invert(75%);

    position: absolute;
    // top: 50%;
    // translate: 0, -50%;

    left: .5em;
}