@use "../../scss/theme.scss" as *;

@mixin rounded-red {
    background-color: lighten($background-color, 0%);
    border-radius: .4em;
    border: $line-color 1px solid;
    height: $tab-height;
}

$List-Tab-Spacing: .5em;

.AllLists-List-Table {
    font-size: calc($font-scale * 1.5);
    width: calc(100% - $List-Tab-Spacing * 2);
    // margin-left: $List-Tab-Spacing;
}

.AllLists-Tab {
    margin-top: $List-Tab-Spacing;
    position: relative;
}

.AllLists-List {
    color: white;

    padding-left: 1em;

    display: flex;
    align-items: center;
}

.AllLists-Folder {
    color: white;
}

.not-selected {
    filter : invert(100%) opacity(50%) ;
}

$tab-indent: 1.25em;

.AllLists-Folder-List {
    margin-left: $tab-indent;
    // height: $tab-height;
}

$line-width: 1px;

.List-Page-Tab-Container {
    // position: relative;
}

.Down-Line {
    position: relative;
    width: 5%;
    aspect-ratio: 1;
    top: calc(-1 * $tab-indent / 2);
}

.Down-Line-Side {
    position: absolute;
    // background-color: white;
    width: calc($tab-indent / 2);
    border-top: 1px solid white;
    height: 0px;

    top: 50%;
    left: calc(-1 * $tab-indent / 2);

    z-index: -1;
}

.Down-Line-Up {
    position: absolute;
    height: calc(100% - $tab-height / 2);
    width: 0px;
    border-right: 1px solid white;
    bottom: calc($tab-height / 2);
    z-index: -1;
    left: calc($tab-indent / 2);
}