@use "../../theme.scss" as *;

$tab-height: 5.5vh;
$font-scale: calc($tab-height / 4);

.bottom-border {
    width: 100%;
    height: 1px;

    background-color: $line-color;

    position: absolute;
    left: 0%;
    bottom: 0%;
}

.List-Page-Source-Tab {
    // background-color: lighten(black, 20%);
    color: $line-color;
    width: 100%;
    height: $tab-height;

    padding-left: calc(($tab-height - 1em) / 2);

    position: relative;

    font-size: calc($font-scale * 3);
    display: flex;
    align-items: center;
}

$List-Tab-Spacing: .5em;

.List-Page-List-Table {
    font-size: calc($font-scale * 1.5);
    width: calc(100% - $List-Tab-Spacing * 2);
    margin-left: $List-Tab-Spacing;
}

.List-Page-Tab {
    margin-top: $List-Tab-Spacing;
    position: relative;
}

.List-Page-List {
    color: white;
    background-color: lighten($background-color, 0%);
    border-radius: .4em;
    border: $line-color 1px solid;
    height: $tab-height;
}

.List-Page-Folder {
    color: white;
    
}

.List-Page-Tab-List-Icon {
    background-image: url("../../imgs/list.png");

    $height: calc($tab-height * .8);
    $side-spacing: calc(($tab-height - $height ) / 2 );
    
    height: $height;
    position: absolute;
    right: $side-spacing;
    top: $side-spacing;
}

.List-Page-Title {
    background-color: lighten($background-color, 0%);
    border-radius: .4em;
    border: $line-color 1px solid;
    height: $tab-height;
    padding-left: 1em;

    position: relative;

    display: flex;
    align-items: center;
}

$tab-indent: 1.25em;

.List-Page-Folder-List {
    margin-left: $tab-indent;
    // height: $tab-height;
}

$line-width: 1px;

.List-Page-Tab-Container {
    position: relative;
}

.Down-Line {
    position: relative;
    width: 5%;
    aspect-ratio: 1;
    top: calc(-1 * $tab-indent / 2);
}

.Down-Line-Side {
    position: absolute;
    // background-color: white;
    width: calc($tab-indent / 2);
    border-top: 1px solid white;
    height: 0px;

    top: 50%;
    left: calc(-1 * $tab-indent / 2);

    z-index: -1;
}

.Down-Line-Up {
    position: absolute;
    width: 0px;
    border-right: 1px solid white;
    height: 3em;

    top: calc(50% - 3em);
    left: calc(-1 * $tab-indent / 2);

    z-index: -1;
}