@use "../../theme.scss" as *;

$tab-height: 5.5vh;
$font-scale: calc($tab-height / 4);

.bottom-border {
    width: 100%;
    border-top: 1px solid $line-color;
    height: 0px;

    position: absolute;
    left: 0%;
    bottom: 0%;
}

@mixin rounded-red {
    background-color: lighten($background-color, 0%);
    border-radius: .4em;
    border: $line-color 1px solid;
    height: $tab-height;
}

.List-Page-Source-Tab {
    // background-color: lighten(black, 20%);
    color: $line-color;
    width: 100%;
    height: $tab-height;

    padding-left: calc(($tab-height - 1em) / 2);

    position: relative;

    font-size: calc($font-scale * 3);
    display: flex;
    align-items: center;
}

$List-Tab-Spacing: .5em;

.List-Page-List-Table {
    font-size: calc($font-scale * 1.5);
    width: calc(100% - $List-Tab-Spacing * 2);
    margin-left: $List-Tab-Spacing;
}

.List-Page-New-Item {
    display: flex;

    align-items: center;

    margin-top: $List-Tab-Spacing;

    @include rounded-red;
}

.New-Item-Icon {
    margin-left: .5em;
    margin-right: .5em;
}

.List-Page-New-Item-Input {
    color: red;
    background-color: transparent;
    border: none;

    text-decoration: underline;
    
}

.List-Page-Tab {
    margin-top: $List-Tab-Spacing;
    position: relative;
}

.List-Page-List {
    color: white;
    @include rounded-red;

    padding-left: 1em;

    display: flex;
    align-items: center;
}

.List-Page-Folder {
    color: white;
    // padding-left: 0em;

    
}

@mixin icon {
    $height: calc($tab-height * .8);
    $side-spacing: calc(($tab-height - $height ) / 2 );
    
    height: $height;
    aspect-ratio: 1;

    // position: absolute;
    right: $side-spacing;
    top: $side-spacing;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    filter: invert(100%);
}

.List-Page-Tab-List-Icon {
    background-image: url("../../imgs/list.png");

    @include icon;
}

.List-Page-Tab-Folder-Icon {
    background-image: url("../../imgs/folder.png");

    margin-right: .5em;

    @include icon;
}

.not-selected {
    filter : invert(100%) opacity(50%) ;
}

.List-Page-Tab-Add-Icon {
    background-image: url("../../imgs/add.png");

    position: absolute;

    @include icon;
}

.List-Page-Title {
    @include rounded-red;
    padding-left: .5em;

    position: relative;

    display: flex;
    align-items: center;
}

$tab-indent: 1.25em;

.List-Page-Folder-List {
    margin-left: $tab-indent;
    // height: $tab-height;
}

$line-width: 1px;

.List-Page-Tab-Container {
    position: relative;
}

.Down-Line {
    position: relative;
    width: 5%;
    aspect-ratio: 1;
    top: calc(-1 * $tab-indent / 2);
}

.Down-Line-Side {
    position: absolute;
    // background-color: white;
    width: calc($tab-indent / 2);
    border-top: 1px solid white;
    height: 0px;

    top: 50%;
    left: calc(-1 * $tab-indent / 2);

    z-index: -1;
}

.Down-Line-Up-Test {
    position: absolute;
    height: calc(100% - $tab-height / 2);
    width: 0px;
    border-right: 1px solid white;
    bottom: calc($tab-height / 2);
    z-index: -1;
    left: calc($tab-indent / 2);
}