@use "./theme.scss" as *;

.bottom-border {
    border-top: $small-border;
    height: 0px;

    position: absolute;
    left: 0%;
    bottom: 0%;
}

.Title-Tab {
    width: 100%;
    height: $tab-height;

    text-align: right;

    color: $line-color;

    position: relative;

    font-size: calc($font-scale * 2.5);
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: $small-border;
}

.Source-Tab {
    color: $line-color;
    height: $tab-height;

    padding-left: calc(($tab-height - 1em) / 2);
    border-bottom: $small-border;

    position: relative;

    font-size: $header-size;
    display: flex;
    align-items: center;
}

.Tab {
    background-color: lighten($background-color, 0%);
    border-radius: .4em;
    border: $line-color 1px solid;
    height: $tab-height;

    margin-top: .5em;

    display: flex;
    align-items: center;
    
    position: relative;
}

.style-tint {
    color: $line-color;
    filter: invert(24%) sepia(87%) saturate(5131%) hue-rotate(352deg) brightness(94%) contrast(130%);
    // background-blend-mode: multiply;
}

.white-tint {
    color: white;
    // background-color: rgba(200,100,0,.5);
    // background-blend-mode: multiply;
}

.anti-footer {
    height: calc(100vh - $footer-size);
    overflow-y: scroll;
    // background-color: blue;
}

.Section {
    $width: 70%;
    $padding: 1em;

    margin-top: 5vh;

    background-color: lighten($background-color, 5%);
    font-size: calc($font-scale * 1.5);

    border-radius: 1.2em;
    width: 70%;

    // min-height: 20vh;

    color: white;

    padding: 1em;

    // margin-left: calc(100% - $width / 2 - $padding/2);
}

.Section-Header {
    font-size: calc($font-scale * 2);
    text-align:  center;
}

.Section-Line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 1.5vh;
} 

.Section-Button-1 {

    font-size: calc($font-scale * 1.5);
    padding: 1em;
    border-radius: 1em;

    background-color: $pop-background-2;

    margin-top: 1vh;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}