@use "./theme.scss" as *;

@mixin icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(100%);
}

@mixin button-icon {
    @include icon;

    width: calc($font-scale*2.5);
    aspect-ratio: 1;
    // filter: invert(50%);
}

.icon-add {
    @include button-icon;
    background-image: url("../imgs/add.png");
}

.icon-edit {
    @include button-icon;
    background-image: url("../imgs/edit.png");
}

.icon-back {
    @include button-icon;
    rotate: 180deg;
    background-image: url("../imgs/arrow.png");
}

.icon-folder {
    @include button-icon;
    background-image: url("../imgs/folder.png");
}

.icon-list {
    @include button-icon;
    background-image: url("../imgs/list.png");
}

.icon-check {
    @include button-icon;
    background-image: url("../imgs/check.png");
}

