$margin: 5vh;

.top-right {
    position: absolute;
    right: $margin;
    top: $margin;
}

.top-left {
    position: absolute;
    left: $margin;
    top: $margin;
}

$font-margin: .5em;

.mr-l {
    margin-left: $font-margin;
}

.mr-r {
    margin-right: $font-margin;
}

.left {
    position: absolute;
    left: $font-margin;
}

.right {
    position: absolute;
    right: $font-margin;
}

.mr-h {
    margin-left: $font-margin;
    margin-right: $font-margin;
}

.mr-v {
    margin-top: $font-margin;
    margin-bottom: $font-margin;
}

.t-center {
    text-align: center;
    // justify-content: center;
}