$background-color: rgb(27, 27, 27);
$pop-background-1: lighten($background-color, 5%);
$pop-background-2: lighten($background-color, 10%);

// $line-color: lighten($background-color, 30%);
$line-color: red;

$tab-height: 7vh;
$font-scale: calc($tab-height / 4);
$font: 'Lexend Deca';

$title-size: calc($font-scale * 3);
$header-size: calc($font-scale * 2.5);
$sub-header-size: calc($font-scale * 2);

$shadow: rgba(0, 0, 0, 0.562) 0px 0px 5px;

$small-border: 1px solid $line-color;

$footer-size: 8vh;

body {
    margin: 0px;
    background-color: $background-color;
    user-select: none;
    font-family: $font;
}