.SignInPage {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SignInPage-Button {
    color: white;
    font-size: 5vw;
}